body, html {
    font-family: "Roboto", sans-serif;
    background: black;
    font-weight: 500;
    font-size: 1.5rem;
    height: 100%;
    list-style-type: none;
    color:darkslateblue;

  }
.AboutSection{
    color:cornflowerblue;
}
.SkillSection{
  color:crimson;
}
.ContactSection{
  color:coral
}