*{
  margin:0;
  padding: 0;
  box-sizing: border-box
}
body, html {
    font-family: "Roboto", sans-serif;
    background: #1b1b1b;
    font-weight: 500;
    font-size: 1.5rem;
    height: 100%;
    list-style-type: none;
    color:darkslateblue;

}
button{
    font-weight: bold;
    font-size: 1.1 rem;
    cursor: pointer;
    padding: 1rem 2rem;
    border: 3px solid #23d997;
    background: transparent;
    color: white;
    transition:all 0.5s ease;

    &:hover{
        background-color: #23d997;
        color:white;
      }

}
h2{
  font-weight: lighter;
  font-size: 4rem;
}
h3{
  color:white
}
p{
  padding: 3rem, 0rem;
}
.AboutSection{
    color:cornflowerblue;
}
.SkillSection{
  color:ghostwhite;
}
.ContactSection{
  color:coral
}